body {
  background-color: #eeeeee;
  margin: 0;
  overflow: hidden;
}

h1 {
  background-color: #758f49;
  color: #ffffff;
  margin: 0;
  padding: 15px;
}

p {
  margin: 10px;
  padding: 7px;
  color: #000000;
  width: fit-content;
  font-weight: bold;
  font-size: 19px;
  background-color: #d8d6d6;
  border: 2px solid #d8d6d6;
  border-radius: 10px;
  max-width: 1400px;
}

button {
  background-color: #748060;
  color: #ffffff;
  border: 0px;
  border-radius: 7px;
  margin: 0;
  padding: 6px 10px;
}

button:hover:enabled {
  background-color: #505d3a;
  cursor: pointer;
}

button:disabled {
  background-color: #6c6c6c;
  cursor: not-allowed;
}

img {
  margin: 0;
  vertical-align: top;
}

iframe {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nav-buttons {
  display: flex;
  margin: 0;
  padding: 10px;
  background-color: #94a279;
  gap: 10px;
}

.game-img {
  padding: 20px;
  width: 275px;
  max-width: 275px;
}

.item {
  flex: 1 1 calc(10% - 20px);
}

.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}